Explain how we can manually define a lob for testing using a number of utilities

In [1]:
#from UCLSE.exchange import Order, Exchange
#from UCLSE.environment import yamlLoad
import pandas as pd
from UCLSE.test.utils import (build_df_from_yaml, build_lob_from_df,
                              build_df_from_dic_dic,dump_order_df_to_yaml,
                              yaml_dump,yamlLoad)

Can manually define a lob as follows:

In [2]:
ask_dic={'tid':list(range(6)),'otype':['Ask' for i in range(6)],
         'price':[107+i for i in range(6)],
 'qty':[1 for i in range(6)],
 'time':[i for i in range(6)],
 'qid':[1000+i for i in range(6)] }

order_df=pd.DataFrame(ask_dic)

bid_dic={'tid':list(range(6)),'otype':['Bid' for i in range(6)],
         'price':[100+i for i in range(6)],
 'qty':[1 for i in range(6)],
 'time':[i for i in range(6)],
 'qid':[1000+i for i in range(6)] }

order_df=order_df.append(pd.DataFrame(bid_dic))
#ensure cols in correct order for Order definition
order_df=order_df[['tid','otype','price','qty','time','qid']]

order_df.sort_v

   tid otype  price  qty  time   qid
0    0   Ask    107    1     0  1000
1    1   Ask    108    1     1  1001
2    2   Ask    109    1     2  1002
3    3   Ask    110    1     3  1003
4    4   Ask    111    1     4  1004
5    5   Ask    112    1     5  1005
0    0   Bid    100    1     0  1000
1    1   Bid    101    1     1  1001
2    2   Bid    102    1     2  1002
3    3   Bid    103    1     3  1003
4    4   Bid    104    1     4  1004
5    5   Bid    105    1     5  1005

We can use the add_order method of the exchange object, row by row to add orders into the lob. This function does just that:

In [3]:
exch=build_lob_from_df(order_df,exch=None)
exch.asks.lob

{107: [1, [[0, 1, 0, 0]]],
 108: [1, [[1, 1, 1, 1]]],
 109: [1, [[2, 1, 2, 2]]],
 110: [1, [[3, 1, 3, 3]]],
 111: [1, [[4, 1, 4, 4]]],
 112: [1, [[5, 1, 5, 5]]]}

In [4]:
exch.bids.lob

{100: [1, [[0, 1, 0, 6]]],
 101: [1, [[1, 1, 1, 7]]],
 102: [1, [[2, 1, 2, 8]]],
 103: [1, [[3, 1, 3, 9]]],
 104: [1, [[4, 1, 4, 10]]],
 105: [1, [[5, 1, 5, 11]]]}

We can save this df into a yaml file

In [5]:
dump_order_df_to_yaml(order_df,'document.yaml')

And also load order books from yaml files:

In [11]:
order_df2=build_df_from_yaml('document.yaml')
order_df2.sort_values(['otype','price','time'],inplace=True)
assert (order_df2==order_df).all().all()
exch2=build_lob_from_df(order_df2,exch=None)
assert exch2.bids.lob==exch.bids.lob
assert exch2.asks.lob==exch.asks.lob

which results in the same thing.